body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Comic Sans MS', Arial, sans-serif;
  background-image: linear-gradient(to bottom left, blue, red);
}


a {
  color: #00B7FF;
}

h1, h2, p {
  text-transform: uppercase;
  text-shadow: 5px 5px 5px greenyellow;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {opcacity:1;}
  50% {}
}

img {
  border-style: solid;
  border-color:coral;
  border-width: 50px;
  border-radius: 300px;
}

button {
  padding: 20px;
  background-color: aquamarine;
  color: white;
  border-style: dotted;
  border-color: white;
  border-radius: 50px;

}

strong {
  color: white;
}
