body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Comic Sans MS', Arial, sans-serif;
  background-image: linear-gradient(to bottom left, blue, red);
}


a {
  color: #00B7FF;
}

img {
  border-style: solid;
  border-color:coral;
  border-width: 50px;
  border-radius: 300px;
}

button {
  background-color: aquamarine;
  color: white;
  border-style: dotted;
  border-color: white;
  border-
}

strong {
  color: white;
}
