body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Comic Sans MS', Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  border-style: solid;
  border-color: pink;
  border-width: 50px;
  border-radius: 300px;
}

#sign_in {
  gap: 20px;
}
